html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

#root-container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#main-navigation-bar {
  background-color: #282c34;
  width: 300px;
  color: white;
  position: sticky;
  top: 0;
  height: 100vh !important;
  text-align: center;
}

#content-container {
  padding: 2em;
  width: 100%;
  overflow-y: auto;
}

#navigation-bar-icon {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

