html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

#main-navigation-bar {
  background-color: #282c34;
  align-items: center;
  justify-content: left;
  background-color: #282c34;
  color: white;
}

#navigation-bar-icon {
  height: calc(8vb);
}
